<button type="button" name="button" {{action (route-action "createProduct")}}>Create Product</button>

<div class="col">
  {{#each products as |product|}}
    {{link-to product.label "products.show" product.id}}
  {{/each}}
</div>

{{outlet}}
