<div class="col stretch">
  {{link-to "Products" "products.index"}}
  {{link-to "Productions" "productions.index"}}

  <div class="col stretch mainContent">
    {{outlet}}
  </div>
</div>

{{liquid-destination}}
