<div class="outerContainer">
  <button type="button" name="button" {{action "createNode"}}>Add</button>
  {{editors/graph-editor model=model onNodeDrag=(route-action "onNodeDrag") onNodeDrop=(route-action "onNodeDrop")}}
</div>
